@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Righteous&family=Sarala&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Sarala',sans-serif;
}

body {
  background: #ffcb65;
  color: #2f2325;
}

header {
  position: fixed;
  height: 7vh;
  width: 100%;
  background:#f9f7dc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #2f2325;
  font-size: 25px;
}

#header-menu {
	color: #2f2325;
}

@keyframes menu {
  from {
    width: 0vw;
    height: 0vh;
  }
  to {
    width: 100vw;
    height: 100vh;
  }
}

nav {
  position:fixed;
  top: 7vh;
  background: rgba(0, 0, 0, 0.973);
  color: white;
  height: 100vh;
  width: 100vw;
  padding: 3vh;
  animation-name: menu;
  animation-duration: 0.8s;
}

ul {
  display: flex;
  width: 100%;
  list-style: none;
  font-size: 1.5rem;
  text-align: left;
  flex-direction: column;
  gap: 5px;
}
